<?xml version="1.0" ?>
<Library name="a3l_tarmac" shape="rectangle" default_fill="-16777216" default_outline="-1" tex="0">
    <Template>
        <Name>tarmac</Name>
        <File>a3l_tarmac\tarmac.p3d</File>
        <Date>09/07/14 01:31:07</Date>
        <Archive></Archive>
        <Fill>-16777216</Fill>
        <Outline>-1</Outline>
        <Scale>1.000000</Scale>
        <Hash>-1228753110</Hash>
        <ScaleRandMin>0.000000</ScaleRandMin>
        <ScaleRandMax>0.000000</ScaleRandMax>
        <YawRandMin>0.000000</YawRandMin>
        <YawRandMax>0.000000</YawRandMax>
        <PitchRandMin>0.000000</PitchRandMin>
        <PitchRandMax>0.000000</PitchRandMax>
        <RollRandMin>0.000000</RollRandMin>
        <RollRandMax>0.000000</RollRandMax>
        <TexLLU>0.000000</TexLLU>
        <TexLLV>0.000000</TexLLV>
        <TexURU>1.000000</TexURU>
        <TexURV>1.000000</TexURV>
        <BBRadius>6.262000</BBRadius>
        <BBHScale>1.000000</BBHScale>
        <AutoCenter>1</AutoCenter>
        <XShift>-0.000000</XShift>
        <YShift>-0.000000</YShift>
        <ZShift>-0.000000</ZShift>
        <Height>0.000000</Height>
        <BoundingMin X="-6.262000" Y="-0.000002" Z="-6.262000" />
        <BoundingMax X="6.262000" Y="0.000998" Z="6.262000" />
        <BoundingCenter X="0.000000" Y="0.000498" Z="0.000000" />
        <Placement></Placement>
    </Template>
</Library>
