<?xml version="1.0" ?>
<Library name="a3l_prison_fence" shape="rectangle" default_fill="-16777216" default_outline="-1" tex="0">
    <Template>
        <Name>fence_curve</Name>
        <File>a3l_prison_fence\fence_curve.p3d</File>
        <Date>03/22/14 22:03:36</Date>
        <Archive></Archive>
        <Fill>-16777216</Fill>
        <Outline>-1</Outline>
        <Scale>1.000000</Scale>
        <Hash>386612833</Hash>
        <ScaleRandMin>0.000000</ScaleRandMin>
        <ScaleRandMax>0.000000</ScaleRandMax>
        <YawRandMin>0.000000</YawRandMin>
        <YawRandMax>0.000000</YawRandMax>
        <PitchRandMin>0.000000</PitchRandMin>
        <PitchRandMax>0.000000</PitchRandMax>
        <RollRandMin>0.000000</RollRandMin>
        <RollRandMax>0.000000</RollRandMax>
        <TexLLU>0.000000</TexLLU>
        <TexLLV>0.000000</TexLLV>
        <TexURU>1.000000</TexURU>
        <TexURV>1.000000</TexURV>
        <BBRadius>0.431395</BBRadius>
        <BBHScale>1.012089</BBHScale>
        <AutoCenter>1</AutoCenter>
        <XShift>-0.000000</XShift>
        <YShift>-0.000000</YShift>
        <ZShift>-0.000000</ZShift>
        <Height>0.000000</Height>
        <BoundingMin X="-0.344691" Y="-0.013861" Z="-0.451505" />
        <BoundingMax X="0.528528" Y="2.425584" Z="0.411284" />
        <BoundingCenter X="0.091919" Y="1.205862" Z="-0.020110" />
        <Placement></Placement>
    </Template>
    <Template>
        <Name>fence_large</Name>
        <File>a3l_prison_fence\fence_large.p3d</File>
        <Date>03/22/14 22:03:36</Date>
        <Archive></Archive>
        <Fill>-16777216</Fill>
        <Outline>-1</Outline>
        <Scale>1.000000</Scale>
        <Hash>-675069235</Hash>
        <ScaleRandMin>0.000000</ScaleRandMin>
        <ScaleRandMax>0.000000</ScaleRandMax>
        <YawRandMin>0.000000</YawRandMin>
        <YawRandMax>0.000000</YawRandMax>
        <PitchRandMin>0.000000</PitchRandMin>
        <PitchRandMax>0.000000</PitchRandMax>
        <RollRandMin>0.000000</RollRandMin>
        <RollRandMax>0.000000</RollRandMax>
        <TexLLU>0.000000</TexLLU>
        <TexLLV>0.000000</TexLLV>
        <TexURU>1.000000</TexURU>
        <TexURV>1.000000</TexURV>
        <BBRadius>1.021851</BBRadius>
        <BBHScale>0.322666</BBHScale>
        <AutoCenter>1</AutoCenter>
        <XShift>-0.000000</XShift>
        <YShift>-0.000000</YShift>
        <ZShift>-0.000000</ZShift>
        <Height>0.000000</Height>
        <BoundingMin X="-0.234003" Y="-0.013862" Z="-1.016774" />
        <BoundingMax X="0.425429" Y="2.416922" Z="1.026927" />
        <BoundingCenter X="0.095713" Y="1.201530" Z="0.005076" />
        <Placement></Placement>
    </Template>
    <Template>
        <Name>fence_small</Name>
        <File>a3l_prison_fence\fence_small.p3d</File>
        <Date>03/22/14 22:03:36</Date>
        <Archive></Archive>
        <Fill>-16777216</Fill>
        <Outline>-1</Outline>
        <Scale>1.000000</Scale>
        <Hash>-651059591</Hash>
        <ScaleRandMin>0.000000</ScaleRandMin>
        <ScaleRandMax>0.000000</ScaleRandMax>
        <YawRandMin>0.000000</YawRandMin>
        <YawRandMax>0.000000</YawRandMax>
        <PitchRandMin>0.000000</PitchRandMin>
        <PitchRandMax>0.000000</PitchRandMax>
        <RollRandMin>0.000000</RollRandMin>
        <RollRandMax>0.000000</RollRandMax>
        <TexLLU>0.000000</TexLLU>
        <TexLLV>0.000000</TexLLV>
        <TexURU>1.000000</TexURU>
        <TexURV>1.000000</TexURV>
        <BBRadius>0.540961</BBRadius>
        <BBHScale>0.609500</BBHScale>
        <AutoCenter>1</AutoCenter>
        <XShift>-0.000000</XShift>
        <YShift>-0.000000</YShift>
        <ZShift>-0.000000</ZShift>
        <Height>0.000000</Height>
        <BoundingMin X="-0.234003" Y="-0.013862" Z="-0.532022" />
        <BoundingMax X="0.425429" Y="2.416921" Z="0.549900" />
        <BoundingCenter X="0.095713" Y="1.201530" Z="0.008939" />
        <Placement></Placement>
    </Template>
    <Template>
        <Name>gate</Name>
        <File>a3l_prison_fence\gate.p3d</File>
        <Date>03/22/14 22:03:36</Date>
        <Archive></Archive>
        <Fill>-16777216</Fill>
        <Outline>-1</Outline>
        <Scale>1.000000</Scale>
        <Hash>-394921557</Hash>
        <ScaleRandMin>0.000000</ScaleRandMin>
        <ScaleRandMax>0.000000</ScaleRandMax>
        <YawRandMin>0.000000</YawRandMin>
        <YawRandMax>0.000000</YawRandMax>
        <PitchRandMin>0.000000</PitchRandMin>
        <PitchRandMax>0.000000</PitchRandMax>
        <RollRandMin>0.000000</RollRandMin>
        <RollRandMax>0.000000</RollRandMax>
        <TexLLU>0.000000</TexLLU>
        <TexLLV>0.000000</TexLLV>
        <TexURU>1.000000</TexURU>
        <TexURV>1.000000</TexURV>
        <BBRadius>5.247661</BBRadius>
        <BBHScale>0.112680</BBHScale>
        <AutoCenter>1</AutoCenter>
        <XShift>-0.000000</XShift>
        <YShift>-0.000000</YShift>
        <ZShift>-0.000000</ZShift>
        <Height>0.000000</Height>
        <BoundingMin X="-0.638014" Y="-0.016424" Z="-7.969351" />
        <BoundingMax X="0.544596" Y="2.398789" Z="2.525970" />
        <BoundingCenter X="-0.046709" Y="1.191183" Z="-2.721690" />
        <Placement></Placement>
    </Template>
</Library>
