<?xml version="1.0" ?>
<Library name="Auto" shape="rectangle" default_fill="-16777216" default_outline="-1" tex="0">
    <Template>
        <Name>atom</Name>
        <File>a3l_atom\atom.p3d</File>
        <Date>07/17/14 17:52:21</Date>
        <Archive></Archive>
        <Fill>-16777216</Fill>
        <Outline>-1</Outline>
        <Scale>1.000000</Scale>
        <Hash>-626836847</Hash>
        <ScaleRandMin>0.000000</ScaleRandMin>
        <ScaleRandMax>0.000000</ScaleRandMax>
        <YawRandMin>0.000000</YawRandMin>
        <YawRandMax>0.000000</YawRandMax>
        <PitchRandMin>0.000000</PitchRandMin>
        <PitchRandMax>0.000000</PitchRandMax>
        <RollRandMin>0.000000</RollRandMin>
        <RollRandMax>0.000000</RollRandMax>
        <TexLLU>0.000000</TexLLU>
        <TexLLV>0.000000</TexLLV>
        <TexURU>1.000000</TexURU>
        <TexURV>1.000000</TexURV>
        <BBRadius>2.669823</BBRadius>
        <BBHScale>0.374551</BBHScale>
        <AutoCenter>1</AutoCenter>
        <XShift>-0.000000</XShift>
        <YShift>-0.000000</YShift>
        <ZShift>-0.000000</ZShift>
        <Height>1.349118</Height>
        <BoundingMin X="-0.991087" Y="-0.767643" Z="-2.901996" />
        <BoundingMax X="1.008881" Y="1.930594" Z="2.437650" />
        <BoundingCenter X="0.008897" Y="0.581475" Z="-0.232173" />
        <Placement></Placement>
    </Template>
</Library>
