<?xml version="1.0" ?>
<Library name="ugc_cop" shape="rectangle" default_fill="-4144960" default_outline="-1" tex="0">
    <Template>
        <Name>ugc_pathway</Name>
        <File>ugc_cop\ugc_pathway.p3d</File>
        <Date>10/05/16 20:50:21</Date>
        <Archive></Archive>
        <Fill>-4144960</Fill>
        <Outline>-1</Outline>
        <Scale>1.000000</Scale>
        <Hash>1723259964</Hash>
        <ScaleRandMin>0.000000</ScaleRandMin>
        <ScaleRandMax>0.000000</ScaleRandMax>
        <YawRandMin>0.000000</YawRandMin>
        <YawRandMax>0.000000</YawRandMax>
        <PitchRandMin>0.000000</PitchRandMin>
        <PitchRandMax>0.000000</PitchRandMax>
        <RollRandMin>0.000000</RollRandMin>
        <RollRandMax>0.000000</RollRandMax>
        <TexLLU>0.000000</TexLLU>
        <TexLLV>0.000000</TexLLV>
        <TexURU>1.000000</TexURU>
        <TexURV>1.000000</TexURV>
        <BBRadius>6.604811</BBRadius>
        <BBHScale>0.446281</BBHScale>
        <AutoCenter>0</AutoCenter>
        <XShift>-0.000000</XShift>
        <YShift>-0.000019</YShift>
        <ZShift>-0.000000</ZShift>
        <Height>0.000000</Height>
        <BoundingMin X="-2.979732" Y="-0.008720" Z="-8.162580" />
        <BoundingMax X="2.915473" Y="0.661953" Z="5.047079" />
        <BoundingCenter X="-0.032129" Y="0.326616" Z="-1.557750" />
        <Placement></Placement>
    </Template>
</Library>
