<?xml version="1.0" ?>
<Library name="UGC_Strasse" shape="rectangle" default_fill="-4144960" default_outline="-1" tex="0">
    <Template>
        <Name>tarmac</Name>
        <File>ugc_strasse\tarmac.p3d</File>
        <Date>03/31/17 13:25:03</Date>
        <Archive></Archive>
        <Fill>-4144960</Fill>
        <Outline>-1</Outline>
        <Scale>1.000000</Scale>
        <Hash>-1228753110</Hash>
        <ScaleRandMin>0.000000</ScaleRandMin>
        <ScaleRandMax>0.000000</ScaleRandMax>
        <YawRandMin>0.000000</YawRandMin>
        <YawRandMax>0.000000</YawRandMax>
        <PitchRandMin>0.000000</PitchRandMin>
        <PitchRandMax>0.000000</PitchRandMax>
        <RollRandMin>0.000000</RollRandMin>
        <RollRandMax>0.000000</RollRandMax>
        <TexLLU>0.000000</TexLLU>
        <TexLLV>0.000000</TexLLV>
        <TexURU>1.000000</TexURU>
        <TexURV>1.000000</TexURV>
        <BBRadius>-1.000000</BBRadius>
        <BBHScale>1.000000</BBHScale>
        <AutoCenter>0</AutoCenter>
        <XShift>0.000000</XShift>
        <YShift>0.000000</YShift>
        <ZShift>0.000000</ZShift>
        <Height>0.000000</Height>
        <BoundingMin X="999.000000" Y="999.000000" Z="999.000000" />
        <BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000" />
        <BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000" />
        <Placement></Placement>
    </Template>
    <Template>
        <Name>ugc_tarmac</Name>
        <File>ugc_strasse\ugc_tarmac.p3d</File>
        <Date>10/05/16 18:36:26</Date>
        <Archive></Archive>
        <Fill>-4144960</Fill>
        <Outline>-1</Outline>
        <Scale>1.000000</Scale>
        <Hash>1015754520</Hash>
        <ScaleRandMin>0.000000</ScaleRandMin>
        <ScaleRandMax>0.000000</ScaleRandMax>
        <YawRandMin>0.000000</YawRandMin>
        <YawRandMax>0.000000</YawRandMax>
        <PitchRandMin>0.000000</PitchRandMin>
        <PitchRandMax>0.000000</PitchRandMax>
        <RollRandMin>0.000000</RollRandMin>
        <RollRandMax>0.000000</RollRandMax>
        <TexLLU>0.000000</TexLLU>
        <TexLLV>0.000000</TexLLV>
        <TexURU>1.000000</TexURU>
        <TexURV>1.000000</TexURV>
        <BBRadius>3.000008</BBRadius>
        <BBHScale>0.999828</BBHScale>
        <AutoCenter>1</AutoCenter>
        <XShift>0.000199</XShift>
        <YShift>0.000126</YShift>
        <ZShift>-0.000000</ZShift>
        <Height>0.000000</Height>
        <BoundingMin X="-2.999968" Y="-0.000002" Z="-2.999974" />
        <BoundingMax X="2.999569" Y="0.000998" Z="3.000293" />
        <BoundingCenter X="-0.000199" Y="0.000498" Z="0.000159" />
        <Placement></Placement>
    </Template>
    <Template>
        <Name>ugc_tarmac_darkgray</Name>
        <File>ugc_strasse\ugc_tarmac_darkgray.p3d</File>
        <Date>10/05/16 18:39:41</Date>
        <Archive></Archive>
        <Fill>-4144960</Fill>
        <Outline>-1</Outline>
        <Scale>1.000000</Scale>
        <Hash>772609760</Hash>
        <ScaleRandMin>0.000000</ScaleRandMin>
        <ScaleRandMax>0.000000</ScaleRandMax>
        <YawRandMin>0.000000</YawRandMin>
        <YawRandMax>0.000000</YawRandMax>
        <PitchRandMin>0.000000</PitchRandMin>
        <PitchRandMax>0.000000</PitchRandMax>
        <RollRandMin>0.000000</RollRandMin>
        <RollRandMax>0.000000</RollRandMax>
        <TexLLU>0.000000</TexLLU>
        <TexLLV>0.000000</TexLLV>
        <TexURU>1.000000</TexURU>
        <TexURV>1.000000</TexURV>
        <BBRadius>3.000008</BBRadius>
        <BBHScale>0.999828</BBHScale>
        <AutoCenter>1</AutoCenter>
        <XShift>0.000199</XShift>
        <YShift>0.000126</YShift>
        <ZShift>-0.000000</ZShift>
        <Height>0.000000</Height>
        <BoundingMin X="-2.999968" Y="-0.000002" Z="-2.999974" />
        <BoundingMax X="2.999569" Y="0.000998" Z="3.000293" />
        <BoundingCenter X="-0.000199" Y="0.000498" Z="0.000159" />
        <Placement></Placement>
    </Template>
    <Template>
        <Name>ugc_tarmac_lighgray</Name>
        <File>ugc_strasse\ugc_tarmac_lighgray.p3d</File>
        <Date>10/05/16 18:39:59</Date>
        <Archive></Archive>
        <Fill>-4144960</Fill>
        <Outline>-1</Outline>
        <Scale>1.000000</Scale>
        <Hash>944033320</Hash>
        <ScaleRandMin>0.000000</ScaleRandMin>
        <ScaleRandMax>0.000000</ScaleRandMax>
        <YawRandMin>0.000000</YawRandMin>
        <YawRandMax>0.000000</YawRandMax>
        <PitchRandMin>0.000000</PitchRandMin>
        <PitchRandMax>0.000000</PitchRandMax>
        <RollRandMin>0.000000</RollRandMin>
        <RollRandMax>0.000000</RollRandMax>
        <TexLLU>0.000000</TexLLU>
        <TexLLV>0.000000</TexLLV>
        <TexURU>1.000000</TexURU>
        <TexURV>1.000000</TexURV>
        <BBRadius>3.000008</BBRadius>
        <BBHScale>0.999828</BBHScale>
        <AutoCenter>1</AutoCenter>
        <XShift>0.000199</XShift>
        <YShift>0.000126</YShift>
        <ZShift>-0.000000</ZShift>
        <Height>0.000000</Height>
        <BoundingMin X="-2.999968" Y="-0.000002" Z="-2.999974" />
        <BoundingMax X="2.999569" Y="0.000998" Z="3.000293" />
        <BoundingCenter X="-0.000199" Y="0.000498" Z="0.000159" />
        <Placement></Placement>
    </Template>
    <Template>
        <Name>ugc_tarmac_policehq</Name>
        <File>ugc_strasse\ugc_tarmac_policehq.p3d</File>
        <Date>10/05/16 18:38:00</Date>
        <Archive></Archive>
        <Fill>-4144960</Fill>
        <Outline>-1</Outline>
        <Scale>1.000000</Scale>
        <Hash>-1143183730</Hash>
        <ScaleRandMin>0.000000</ScaleRandMin>
        <ScaleRandMax>0.000000</ScaleRandMax>
        <YawRandMin>0.000000</YawRandMin>
        <YawRandMax>0.000000</YawRandMax>
        <PitchRandMin>0.000000</PitchRandMin>
        <PitchRandMax>0.000000</PitchRandMax>
        <RollRandMin>0.000000</RollRandMin>
        <RollRandMax>0.000000</RollRandMax>
        <TexLLU>0.000000</TexLLU>
        <TexLLV>0.000000</TexLLV>
        <TexURU>1.000000</TexURU>
        <TexURV>1.000000</TexURV>
        <BBRadius>3.000008</BBRadius>
        <BBHScale>0.999828</BBHScale>
        <AutoCenter>1</AutoCenter>
        <XShift>0.000199</XShift>
        <YShift>0.000126</YShift>
        <ZShift>-0.000000</ZShift>
        <Height>0.000000</Height>
        <BoundingMin X="-2.999968" Y="-0.000002" Z="-2.999974" />
        <BoundingMax X="2.999569" Y="0.000998" Z="3.000293" />
        <BoundingCenter X="-0.000199" Y="0.000498" Z="0.000159" />
        <Placement></Placement>
    </Template>
    <Template>
        <Name>ugc_tarmac_stop</Name>
        <File>ugc_strasse\ugc_tarmac_stop.p3d</File>
        <Date>03/31/17 13:25:03</Date>
        <Archive></Archive>
        <Fill>-4144960</Fill>
        <Outline>-1</Outline>
        <Scale>1.000000</Scale>
        <Hash>537778249</Hash>
        <ScaleRandMin>0.000000</ScaleRandMin>
        <ScaleRandMax>0.000000</ScaleRandMax>
        <YawRandMin>0.000000</YawRandMin>
        <YawRandMax>0.000000</YawRandMax>
        <PitchRandMin>0.000000</PitchRandMin>
        <PitchRandMax>0.000000</PitchRandMax>
        <RollRandMin>0.000000</RollRandMin>
        <RollRandMax>0.000000</RollRandMax>
        <TexLLU>0.000000</TexLLU>
        <TexLLV>0.000000</TexLLV>
        <TexURU>1.000000</TexURU>
        <TexURV>1.000000</TexURV>
        <BBRadius>-1.000000</BBRadius>
        <BBHScale>1.000000</BBHScale>
        <AutoCenter>0</AutoCenter>
        <XShift>0.000000</XShift>
        <YShift>0.000000</YShift>
        <ZShift>0.000000</ZShift>
        <Height>0.000000</Height>
        <BoundingMin X="999.000000" Y="999.000000" Z="999.000000" />
        <BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000" />
        <BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000" />
        <Placement></Placement>
    </Template>
</Library>
